{% extends 'menu.html' %}

{% block titulo %} Tareas {% endblock  %}

{% block contenido %}
    {{ block.super }}

    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 ">
                <h1 class="text-center dieplay-3 py-5">Tareas</h1>

                {# asi es para que aparescan los mas importantes ariba #}
                <h2>Tareas mas importantes</h2>

                <ul class="list-group">
                    {% for tarea in tareas %}

                        {% if tarea.importansia and tarea.fecha_finalisaddo is None %}
                            <a href=" {% url 'tarea' tarea.id %} " class="list-group-item">

                                <h3>{{tarea.titulo}}</h3>

                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>

                <h2>Tareas menos importantes</h2>

                <ul class="list-group">
                    {% for tarea in tareas %}

                    {% if not tarea.importansia and tarea.fecha_finalisaddo is None %}
                            <a href=" {% url 'tarea' tarea.id %} " class="list-group-item">

                                <h3>{{tarea.titulo}}</h3>

                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>


                <h2>Tareas terminadas</h2>

                <ul class="list-group">
                    {% for tarea in tareas %}

                    {% if not tarea.fecha_finalisaddo is None %}
                            <a href=" {% url 'tarea' tarea.id %} " class="list-group-item">

                                <h3>{{tarea.titulo}}</h3>

                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </div>
    </main>

{% endblock  %}